html{
  font-family: Raleway, sans-serif;
}

body {
  background-color: #FAF7E4;
}

h1, h2, header {
  font-family: Staatliches, sans-serif;
}

header, footer {
  background-color: #00196E;
  color: #fff;
}

.header-nav a {
  text-decoration: none;
  color: #fff;
}

.header-nav a:hover {
  background-color: #810000;
  color: #fff;
}

.banner-dog {
  display: none;
}

section {
  background-color: #fff;
}

.logo {
  margin-top: 2em;
}

.hover-box {
  color: #000;
}

.hover-box-caption {
  bottom: -4em;
  background-color: rgba(255, 255, 255, .6);
  transition: all .2s linear;
}

.hover-box:hover .hover-box-caption,
.hover-box:focus .hover-box-caption {
  bottom: 0;
}

.hover-box-img {
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  transform: scale(1.4);
}

.hover-box:focus {
  z-index: 10;
}

@media only screen and (min-width: 38em) {


  .logo {
    margin-top: 0;
  }

  header nav ul li {
    display: inline-block;
  }

  .banner-dog {
    display: block;
  }


}
