html{
  font-family: Raleway, sans-serif;
}

body {
  background-color: #faf7e4;
}

h1, h2, header {
  font-family: Staatliches, sans-serif;
}

header, footer {
  background-color: #00196e;
  color: #fff;
}

.paw-icon {
  fill: #fff;
}

.header-nav a {
  text-decoration: none;
  color: #fff;
}

.header-nav a:hover {
  background-color: #810000;
  color: #fff;
}

.banner-dog {
  display: none;
}

.banner-dog figcaption {
  bottom: 0em;
  color: #faf7e4;
  background-image: linear-gradient(to bottom, rgba(0, 25, 110, 0), rgba(0, 25, 110, 1));
}

main {
  background-color: #fff;
}

.logo {
  margin-top: 2em;
}

.hover-box {
  color: #000;
  border-radius: 20px;
}

.hover-box-caption {
  bottom: -4em;
  background-color: rgba(255, 255, 255, .6);
  transition: all .2s linear;
}

.hover-box:hover .hover-box-caption,
.hover-box:focus .hover-box-caption {
  bottom: 0;
}

.hover-box-img {
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  transform: scale(1.4);
}

.hover-box:focus {
  z-index: 10;
}

.btn {
  background-color: #810000;
  color: #faf7e4;
  border-color: #810000;
  border-radius: 30px;
}

.btn:hover {
  background-color: #faf7e4;
  color: #810000;
  border-color: #810000;
}

footer a {
  text-decoration: none;
  color: #faf7e4;
}

@media only screen and (min-width: 38em) {


  .logo {
    margin-top: 0;
  }

  header nav ul li {
    display: inline-block;
  }

  .banner-dog {
    display: block;
  }


}

@media only screen and (min-width: 60em) {

  .banner-dog figcaption {
    right: 4em;
  }

}
